footer{
        width: 100%;
        padding: 10px;
    .cont{
        display: grid;
        justify-items: center;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        grid-column-gap: 20px;
        .div3{
            text-align: center;
            justify-content: center;
            margin-top: 20px;
            a{
                i{
                    opacity: .5;
                    transform: scale(1);
                    font-size: 50px;
                    padding: 10px;
                    margin: 30px;
                    &:hover{
                    opacity: 1;
                    transform: scale(1.5);
                    transition: all 2s ease;
                    }
                }
            }
            .follow{
                @include color($defecto);

                font-size: 20px;
                line-height: 20px;
            }
        }
        .div4{
            margin: 30px;
            .copy{
                @include color($defecto);

                font-size: 15px;
            }
            h5{
                font-family: $font_sub;
                font-size: 1rem;
                text-align: center;
                padding: 15px;
                border: $tit solid;
                border-style: double;
                margin: 30px;
            }
        }
        .div5{
            text-align: center;
            .contacto{
            @include color($defecto);

            font-size: 1rem;
            text-align: center;
            line-height: 20px;
            border-style: dotted;
                .tel{
                    width: 30px;
                }
            }
            .img2{
                width: 170px;
                border-radius: 80%;
                border: 4px;
                border-style: groove;
                margin-top: 20px;
                margin-bottom: 20px;
            }
        }
    }    
}